@import url('../styles/_variables.css');

#ilustration {
    height: 31vh;
    position: absolute;
    top: 8rem;
    
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem; 
    font-family: var(--barlow-condensed);
    font-weight: 700;
    font-size: var(--font-size);
}

.navigation__logo {
    height: min-content;
}

.navigation__icon {
    position: absolute;
    right: 2rem;
    height: 26px;
}

.navigation__list {
    position: relative;
    box-shadow: 0px 0px 25px 7px rgba(0,0,0,0.1);
    top: 5rem;
    right: 2rem;
    background-color: white;
    min-width: 82vw;
    padding: 1rem 0;
    text-align: center;
    transform: translateX(150%);
    transition: 0.7s;
}

.navigation__list li:last-child {
    color: var(--grayish-blue);
}

.navigation__list-active {
    transform: translateX(0);
    transition: 0.7s;
}

.navigation__list hr {
    width: 70vw;
    
    
}

.navigation__list li {
    margin: 1rem 0 2rem;
}

/* info section */
.info {
    margin: 13rem 2rem 0;
    font-family: var(--barlow-condensed);
    font-size: var(--font-size);
}

.info p:first-child{
    letter-spacing: 4px;
    color: var(--grayish-blue);
}

.info p:first-child span {
    background-color: black;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    margin-right: 0.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.info h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 1.5rem 0;
}

.info__style {
    font-family: var(--barlow);
    line-height: 1.5rem;
    margin-right: 3rem;
}

.info__button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.info__button button {
    font-family: var(--barlow-condensed);
    margin-right: 1rem;
    font-weight: 700;
    color: white;
    background-color: var(--red-primary);
    padding: 1rem;
    border-radius: 8px;
    width: 160px;
    letter-spacing: 2px;
    border: none;
}

.info__button p {
    letter-spacing: 2px;
    color: var(--grayish-blue);
}